Source: cnbiloop
Section: libs
Priority: extra
Maintainer: Michele Tavella <michele.tavella@epfl.ch>
Build-Depends: debhelper (>= 7), autotools-dev, libtobicore-dev, libxdffileio0-dev, libeegdev0-dev
Standards-Version: 3.8.3
Homepage: http://www.mtvl.org/cnbitk

Package: libcnbiloop
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: http://www.mtvl.org/cnbitk
Description: CNBI Toolkit Loop libraries
 Core components of the CNBI Toolkit Loop.
 
Package: libcnbiloop-dev
Section: libdevel
Architecture: any
Depends: libcnbiloop(= ${binary:Version}), ${misc:Depends}
Homepage: http://www.mtvl.org/cnbitk
Description: CNBI Toolkit Loop libraries
 Core components of the CNBI Toolkit Loop.
 .
 This package contains the files needed to compile and link programs which
 use cnbiloop.

Package: libcnbiloop-mex
Section: libdevel
Architecture: any
Depends: libcnbiloop(= ${binary:Version}), ${misc:Depends}
Homepage: http://www.mtvl.org/cnbitk
Description: CNBI Toolkit Loop libraries
 Core components of the CNBI Toolkit Loop.
 .
 This package contains the Matlab MEX interfaces for cnbiloop.
